<body>
    <a href="/runOne"><input type="submit" value="Run On Target"></a>
    <a href="/runAll"><input type="submit" value="Run On All"></a>
    {{#each clients}}
    <p>{{this}}</p>
    {{/each}}
</body>